.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

